{% extends 'base.html' %}
{% load user_utilities %}

{% block content %}

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="{{ washer.image.url }}">
                    {% if washer.first_name %}
                        <span class="card-title">{{ washer.get_full_name }}</span>
                    {% endif %}
                    {% if washer.birthdate|is_adult:16 %}
                        <p> Is adult </p>
                    {% endif %}
                </div>
                <div class="card-content">
                    <p> {{ washer.get_full_name }}</p>
                    <p>I have washed {{ washer.washed_count }}</p>
                </div>
                {#                <div class="card-action">#}
                {#                    <a href="#">Read More</a>#}
                {#                </div>#}
            </div>
        </div>
        <div class="col s12 m5">
            <div class="row">
                <ul class="col s12 collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">next_week</i>
                            Week
                            <span class="new badge">1</span></div>
                        <div class="collapsible-body">
                            <p>Earned: {{ earned_money_week }}</p>
                            <p>Count: {{ washed_last_week }}</p>

                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header">
                            <i class="material-icons">monetization_on</i>
                            Month
                            <span class="badge">1</span></div>
                        <div class="collapsible-body">
                            <p>Earned: {{ earned_money_month }}</p>
                            <p>Count: {{ washed_last_month }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">money_off</i>
                            Year
                            <span class="badge">1</span></div>
                        <div class="collapsible-body">
                            <p>Earned: {{ earned_money_year }}</p>
                            <p>Count: {{ washed_last_year }}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                {#                <form class="col s12" enctype="multipart/form-data">#}
                <form action="." class="col s12" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2" class="materialize-textarea" name="note"></textarea>
                            <label for="icon_prefix2">Note</label>
                        </div>
                    </div>
                    {#This is Car Choice#}
{#                    <div class="row">#}
{#                        <div class="col s6">#}
                            <label for="cars">Choose a car:</label>
                            <select id="cars" name="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="fiat">Fiat</option>
                                <option value="audi">Audi</option>
                            </select>
{##}
{#                        </div>#}
{#                    </div>#}
                    <div class="row">
                        <div class="col s12 center">
                            <button class="btn waves-effect waves-light" type="submit" name="action">გაგზავნა
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                    {#                    <div class="row">#}
                    {#                        <div class="input-field col s6">#}
                    {#                            <input name="first_name" placeholder="Placeholder" id="first_name" type="text" class="validate">#}
                    {#                            <label for="first_name">First Name</label>#}
                    {#                        </div>#}
                    {#                        <div class="input-field col s6">#}
                    {#                            <input id="last_name" type="text" class="validate">#}
                    {#                            <label for="last_name">Last Name</label>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="row">#}
                    {#                        <div class="input-field col s12">#}
                    {#                            <input name=""disabled value="I am not editable" id="disabled" type="text" class="validate">#}
                    {#                            <label for="disabled">Disabled</label>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="row">#}
                    {#                        <div class="input-field col s12">#}
                    {#                            <input id="password" type="password" class="validate">#}
                    {#                            <label for="password">Password</label>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="row">#}
                    {#                        <div class="input-field col s12">#}
                    {#                            <input id="email" type="email" class="validate">#}
                    {#                            <label for="email">Email</label>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="row">#}
                    {#                        <div class="col s12">#}
                    {#                            This is an inline input field:#}
                    {#                            <div class="input-field inline">#}
                    {#                                <input id="email_inline" type="email" class="validate">#}
                    {#                                <label for="email_inline">Email</label>#}
                    {#                                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {});
        });


    </script>
{% endblock %}