<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesson 4</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="app">
    <ul v-if="!Object.keys(userDetail).length">
        <li v-for="(user, index) in data" :key="index">
            <a href="#" @click.prevent="sendDetailRequest(user.id)">{{user.username}}</a>
        </li>
    </ul>
    <div v-else>
        <button @click="userDetail = {}">back</button>
        <p>{{userDetail.username}}</p>
        <p>{{userDetail.name}}</p>
        <p>{{userDetail.email}}</p>
        <p>{{userDetail.phone}}</p>
        <p>company:{{userDetail.company.name}}</p>
        <a :href="`http://${userDetail.website}`" v-text="userDetail.website"></a>
    </div>
</div>

<script src="main.js"></script>
</body>
</html>